MONGODB_URI=
MONGODB_DB_NAME=orbitvoice-pro
DOWNLOAD_IP_HASH_SECRET=fACASDFCVASDFWE4RRQ3FEDFCVADSFASDFVADSVER4FQ43FEDVC
DOWNLOAD_ANALYTICS_API_KEY=341234123rdqwefedfsdfew4rq34rqewfqedefeaf
ORBITVOICE_INSTALLER_URL=https://github.com/orbitdor-usman/orbitvoice/releases/download/1.2.1/Orbitvoice-1.2.1-Setup.exe
